# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
/out/

# misc
.DS_Store
*.pem

# debug
pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# typescript
*.tsbuildinfo
next-env.d.ts

# registry
/public/r

# local tooling
/.claude

# private notes
/plans
